* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}
.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  padding: 25px;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.267);

  img {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    object-fit: contain;
  }

  h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.search {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: 30px auto;
  display: block;
  
}

h2{
   text-align: center;
   margin: 0 20px;
}